/* # Quelle: Eigenentwicklung */
.dropdown .dropdown-menu {
    transition-delay: 0s;
}

.dropdown:hover .dropdown-menu {
    display: block;
    transition-delay: 0.5s;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: var(--bs-nav-pills-link-active-color);
    background-color: #2c3e509c;
}

@media (max-width: 576px) {
    .action-btn-group {
        flex-direction: column;
    }

    .action-btn-group .btn {
        width: 100%;
        /* full-width buttons on mobile */
        margin-bottom: 5px;
    }
}