{% extends 'layouts/list_layout.html' %}

{% block list_content %}
<div class="table-responsive">
    <table class="table table-hover table-sm mb-0">
        <thead class="bg-light">
            <tr>
                <th class="px-2">Name</th>
                <th class="px-2">Email</th>
                <th class="px-2 text-right">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
            <tr>
                <td class="px-2">{{ customer.display_name }}</td>
                <td class="px-2">
                    <div class="text-truncate" style="max-width: 150px;" title="{{ customer.email }}">
                        {{ customer.email }}
                    </div>
                </td>
                <td class="px-2 text-right">
                    {{ macros.render_actions(url_for('view_customer', id=customer.id),
                    url_for('edit_customer', id=customer.id),
                    url_for('delete_customer', id=customer.id)) }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}