<!-- Quelle: Eigenentwicklung -->
{% extends 'base.html' %}
{% import 'macros.html' as macros %}
{% import '_paginate.html' as paginate %}

{% block app_content %}

<div class="row">
    <div class="col-md-8">
        <h1>{{ title }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
    </div>
    <div class="col-md-4 text-right">
        <form class="form-inline float-right" method="GET" action="{{ url_for('rentals_history') }}">
            <div class="input-group">
                <input type="text" class="form-control" name="search" placeholder="Search..." value="{{ search }}">
                <div class="input-group-btn">
                    <button class="btn btn-secondary" type="submit" title="Search by name, brand, type">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>


<table class="table table-bordered table-hover" style="margin-bottom: 0;margin-top: 10px;">
    <thead>
        <tr>
            <th>Timestamp</th>
            <th>Instrument</th>
            <th>Customer</th>
            <th>Rental note</th>
        </tr>
    </thead>
    <tbody>
        {% for entry in history %}
        <tr>
            <td>{{ entry.timestamp }}</td>
            <td>{{ entry.instrument_name }}</td>
            <td>{{ entry.customer_name }}</td>
            <td>
                <div class="text-truncate" style="max-width: 150px;" title="{{ entry.rental_note }}">
                    {{entry.rental_note }}
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{{ paginate.render_paginate(prev_url, next_url) }}
{% endblock %}