<!-- Quelle: Eigenentwicklung -->
{% extends 'base.html' %}
{% import 'macros.html' as macros %}
{% import '_paginate.html' as paginate %}

{% block app_content %}

<div class="row">
    <div class="col-md-8">
        <h1>{{ title }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
    </div>
    <div class="col-md-4 text-right">
        <form class="form-inline float-right" method="GET" action="{{ url_for('rentals_history') }}">
            <div class="input-group">
                <input type="text" class="form-control" name="search" placeholder="Search..." value="{{ search }}">
                <div class="input-group-btn">
                    <button class="btn btn-secondary" type="submit" title="Search by name, brand, type">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="table-responsive mt-3">
    <table class="table table-bordered table-hover" style="margin-bottom: 0;margin-top: 10px;">
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>Instrument</th>
                <th>Customer</th>
                <th class="d-none d-sm-table-cell">Rental note</th>
                <th>Actions</th>
                <th>Updated by</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in history %}
            <tr>
                <td>{{ entry.timestamp.strftime('%Y-%m-%d %H:%M') }}</td>
                <td>{{ entry.instrument_name }}</td>
                <td>{{ entry.customer_name }}</td>
                <td class="d-none d-sm-table-cell">
                    <div class="text-truncate" style="max-width: 150px;" title="{{ entry.rental_note }}">
                        {{entry.rental_note }}
                    </div>
                </td>
                <td>
                    {{ entry.update_type }}
                </td>
                <td>{{ entry.updated_by }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="row py-3">
    <div class="col-12">
        {{ paginate.render_paginate(prev_url, next_url) }}
    </div>
</div>
{% endblock %}