<!-- Quelle: Eigenentwicklung -->
{% extends 'base.html' %}
{% import 'macros.html' as macros %}
{% import 'partials/_paginate.html' as paginate %}

{% block app_content %}

<div class="row">
    <div class="col-md-8">
        <h1>{{ title }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
    </div>
    <div class="col-md-4 text-right">
        <form class="form-inline float-right" method="GET" action="{{ url_for('rentals_history') }}">
            <div class="input-group">
                <input type="text" class="form-control" name="search" placeholder="Search..." value="{{ search }}">
                <div class="input-group-btn">
                    <button class="btn btn-secondary" type="submit" title="Search by name, brand, type">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="table-responsive mt-3">
    <table class="table table-hover table-sm mb-0">
        <thead class="bg-light">
            <tr>
                <th class="px-2">
                    <span class="d-none d-sm-inline">Timestamp</span>
                    <span class="d-sm-none">Date</span>
                </th>
                <th class="px-2">Instrument</th>
                <th class="px-2">Customer</th>
                <th class="px-2 d-none d-sm-table-cell">Note</th>
                <th class="px-2">
                    <span class="d-none d-sm-inline">Action</span>
                    <span class="d-sm-none"><i class="bi bi-arrow-left-right"></i></span>
                </th>
                <th class="px-2 d-none d-sm-table-cell">Author</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in history %}
            <tr>
                <td class="px-2">
                    <span class="d-none d-sm-inline">{{ entry.timestamp.strftime('%Y-%m-%d %H:%M') }}</span>
                    <span class="d-sm-none">{{ entry.timestamp.strftime('%d.%m') }}</span>
                </td>
                <td class="px-2">
                    <div class="text-truncate">{{ entry.instrument_name }}</div>
                </td>
                <td class="px-2">
                    <div class="text-truncate">{{ entry.customer_name }}</div>
                </td>
                <td class="px-2 d-none d-sm-table-cell">
                    <div class="text-truncate" style="max-width: 150px" title="{{ entry.rental_note }}">
                        {{ entry.rental_note }}
                    </div>
                </td>
                <td class="px-2">
                    <span class="badge bg-secondary">{{ entry.update_type }}</span>
                </td>
                <td class="px-2 d-none d-sm-table-cell">{{ entry.updated_by }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="row py-3">
    <div class="col-12">
        {{ paginate.render_paginate(prev_url, next_url) }}
    </div>
</div>
{% endblock %}