{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}Home{% endblock %}

{% block app_content %}
<div class="jumbotron">
    {% if current_user.is_authenticated %}
    <h1 class="display-4">Willkommen, {{current_user.username}}</h1>
    {% else %}
    <h1 class="display-4">Willkommen</h1>
    {% endif %}
    <h3 class="display-4">beim MG Walperswil Instumentenverwaltungs Tool</h3>
    <p class="lead">Dies ist eine einfache Webanwendung für die Vermietung von Musikinstrumenten.</p>
    <hr class="my-4">
    <p>Mit der Navigation oben können die verschiedenen Bereiche und Funktionen verwendet werden.</p>
    {% if current_user.is_authenticated %}
    <hr class="my-4">
    <p>Die app sieht leer aus? Dann kann mit dem Button unten beispiele generiert werden.</p>
    <form method="post" action="{{ url_for('generate_data') }}">
        <button type="submit">Generate Sample Data</button>
    </form>
    {% endif %}

</div>
<div class="row">
    <div class="col-md-4">
        <h2>Instrumente</h2>
        <p>Im Instrumente Bereich werden das Inventar aller Instrumente verwaltet.</p>
        <p><a class="btn btn-default" href="{{ url_for('instruments') }}" role="button">View details »</a></p>
    </div>
    <div class="col-md-4">
        <h2>Mitglieder</h2>
        <p>Über den Mitglieder Bereich werden die die Vereinsmitglieder, welche Instrumente brauchen, verwaltet.</p>
        <p><a class="btn btn-default" href="{{ url_for('customers') }}" role="button">View details »</a></p>
    </div>
    <div class="col-md-4">
        <h2>Verleihe</h2>
        <p>Hier findest du die Übersicht mit allen Verleihen</p>
        <p><a class="btn btn-default" href="{{ url_for('rentals') }}" role="button">View details »</a></p>
    </div>
</div>
{% endblock %}