<!-- Quelle: Eigenentwicklung -->
{% extends 'base.html' %}
{% import 'macros.html' as macros %}
{% import '_paginate.html' as paginate %}

{% block app_content %}

<div class="row">
    <div class="col-md-6">
        <h1>{{ title }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <a href="{{ url_for('new_instrument') }}" class="btn btn-primary mb-3">Erfassen</a>
    </div>
    <div class="col-md-6 d-flex justify-content-between flex-wrap">
        <ul class="nav nav-pills justify-content-around" role="tablist">
            <li class="nav-item flex-fill text-center">
                <a class="nav-link" href="{{ url_for('instruments', is_available=true) }}">
                    Verfügbar
                    <span class="badge bg-primary">{{ stats.available }}</span>
                </a>
            </li>
            <li class="nav-item flex-fill text-center">
                <a class="nav-link" href="{{ url_for('instruments', is_available=false) }}">
                    Ausgeliehen
                    <span class="badge bg-primary">{{ stats.unavailable }}</span>
                </a>
            </li>
            <li class="nav-item flex-fill text-center">
                <a class="nav-link" href="{{ url_for('instruments') }}">
                    Alle
                    <span class="badge bg-primary">{{ stats.total }}</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-md-4 text-right">
        <form class="form-inline float-right" method="GET" action="{{ url_for('instruments') }}">
            <div class="input-group">
                <input type="text" class="form-control" name="search" placeholder="Search..." value="{{ search }}">
                <div class="input-group-btn">
                    <button class="btn btn-secondary" type="submit" title="Search by name, brand, type">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

</div>


<table class="table table-bordered table-hover" style="margin-bottom: 0;margin-top: 10px;">
    <thead>
        <tr>
            <th>Name</th>
            <th>Marke</th>
            <th class="d-none d-sm-table-cell">Typ</th>
            <th class="d-none d-sm-table-cell">Serial</th>
            <th>Options</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for instrument in instruments %}
        <tr>
            <td style="white-space: nowrap;">
                {% if instrument.is_available %}
                <span class="bi bi-check text-success">{{ instrument.name }}</span>&nbsp;
                {% else %}
                <span class="bi bi-x text-danger">{{ instrument.name }}</span>&nbsp;
                {% endif %}
            </td>
            <td>{{ instrument.brand }}</td>
            <td class="d-none d-sm-table-cell">{{ instrument.type }}</td>
            <td class="d-none d-sm-table-cell">{{ instrument.serial }}</td>
            <td>
                {% if instrument.is_available %}
                <a href="{{ url_for('new_rental', instrument_id=instrument.id, source='instruments') }}"
                    class="btn btn-primary btn-sm {{ '' if instrument.is_available else 'disabled' }}">Rent</a>
                {% else %}
                {% set rental = instrument.rental | selectattr('instrument_id', 'equalto', instrument.id) | first %}
                <form method="post" action="{{ url_for('delete_rental', id=rental.id, source='instruments') }}"
                    class="d-inline-block">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <button type="submit" class="btn btn-secondary btn-sm"
                        onclick="return confirm('Are you sure you want to return this rental?')">Return</button>
                </form>
                {% endif %}
            </td>
            <td>
                {{ macros.render_actions(url_for('view_instrument', id=instrument.id),
                url_for('edit_instrument', id=instrument.id),
                url_for('delete_instrument', id=instrument.id)) }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{{ paginate.render_paginate(prev_url, next_url) }}
{% endblock %}