<!-- Quelle: Eigenentwicklung -->
{% extends 'base.html' %}
{% import 'macros.html' as macros %}
{% import '_paginate.html' as paginate %}

{% block app_content %}

<div class="row">
    <div class="col-md-6">
        <h1>{{ title }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <a href="{{ url_for('new_rental') }}" class="btn btn-primary mb-3">Erfassen</a>
    </div>
    <div class="col-md-4 text-right">
        <form class="form-inline float-right" method="GET" action="{{ url_for('rentals') }}">
            <div class="input-group">
                <input type="text" class="form-control" name="search" placeholder="Search..." value="{{ search }}">
                <div class="input-group-btn">
                    <button class="btn btn-secondary" type="submit"
                        title="Search by instrument name, customer name, date">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

</div>


<table class="table table-bordered table-hover" style="margin-bottom: 0;margin-top: 10px;">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Instrument</th>
            <th class="d-none d-sm-table-cell">Start Date</th>
            <th class="d-none d-sm-table-cell">End Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for rental in rentals %}
        <tr>
            <td>{{ rental.customer.display_name }}</td>
            <td>{{ rental.instrument.name }}</td>
            <td class="d-none d-sm-table-cell">{{ rental.start_date }}</td>
            <td class="d-none d-sm-table-cell">{{ rental.end_date }}</td>
            <td>
                {{ macros.render_actions(url_for('view_rental', id=rental.id),
                url_for('edit_rental', id=rental.id),
                url_for('delete_rental', id=rental.id)) }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{{ paginate.render_paginate(prev_url, next_url) }}
{% endblock %}